   <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Research Interests</h2>
                <p>Bivalve Genomics, Molluscan Adaptation &amp; Evolution, <i>de novo</i> Genome Assembly, Systematics, &amp; Bioinformatics.</p>
                <p>I am currently working as the Research Bioinformatician for the Smithsonian Institution's <a href="http://www.mnh.si.edu/ggi/">Global Genome Initiative</a>.</p>
                <p>I also am a contributing writer for the Smithsonian Institution's Unearthed <a href="http://nmnh.typepad.com/">Blog</a>.</p>
                <p>To access my publications list visit my <a href="https://scholar.google.com/citations?user=IY7TKqcAAAAJ&hl=en&oi=ao">Google Scholar</a> profile.</p>
            </div>
        </div>
    </section>