    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Publications</h2>
                    <p>Recent Publications:</p>
                    <p>V.L. González et al. 2015.<a href="http://rspb.royalsocietypublishing.org/content/282/1801/20142332"> Bivalvia Phylogenomics</a> </p>
                    <p>V.L. González et al. 2015.<a href="http://onlinelibrary.wiley.com/doi/10.1111/zsc.12086/abstract"> Archiheterodonta Phylogeny</a> </p>
                    <p>S. Lemer et al. 2015.<a href="http://www.ncbi.nlm.nih.gov/pubmed/25450098"> Sipuncula Phylogenomics</a> </p>
                    <p>For more publications: </p>
                    <a href="https://www.researchgate.net/profile/Vanessa_Gonzalez2/publications" class="btn btn-default btn-lg">Visit Research Gate Page</a>
                </div>
            </div>
        </div>
    </section>