    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="intro-text">.</h4>
                        <h2 class="intro-text">.</h2>
                        <h3 class="intro-text">.</h3>
                        <h1 class="brand-heading">+++</h1>
                        <p class="intro-text">Vanessa L. González, Ph.D.<br>Research Bioinformatician</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>